ConnectionStrings__DefaultConnection= server={ipaddress};port={port};database={DBNAME};user={username};password={password};
ConnectionStrings__Redis= {ipaddress:port},password={password},abortConnect=false
JWT_ISSUER = {your_app_URL}
JWT_AUDIENCE = {your_app_URL}
JwtConfig__Key= {ANY_LONG_SECRET_KEY}
RABBITMQ_PASSWORD = {RABBITMQPASSWORD}
RabbitMq__HostName = {HOSTNAME}
RabbitMq__VirtualHost = /development
RabbitMq__Port = {port}
RabbitMq__UserName = {username}
RabbitMq__Password = {rabbitMQpass}
RabbitMq__QueueName = submission-processing
InternalService__Url = {YOUR_TRAININGDIRECTORY_SERVICE_URL}
CORs__Url = {YOUR_APP_URL}
ADMIN__USERNAME = {USERNAME}
ADMIN__EMAIL = {EMAIL}
ADMIN__PASSWORD = {PASSWORD}
MYSQL_PASSWORD = {MYSQL_PASSWORD}
MYSQL_DATABASE = {MYSQL_DATABASE}
RABBITMQ_DEFAULT_USER = {RABBITMQ_USERNAME}